@import '../../../../shared/styles/globalLayout.scss';

.root {
  gap: 2rem;
  margin-top: 1rem;
}

.positionCenter {
  align-items: center;
}

.positionStart {
  align-items: flex-start;
}

.title {
  @include flex();
  gap: 1.5rem;
  margin-left: 0.5rem;
}

@media (max-width: 1024px) {
  .text {
    font-size: 1rem;
  }

  .title {
    gap: 0.5rem;
  }
}

@media (max-width: 600px) {
  .root {
    gap: 1rem;
    justify-content: center;
  }

  .text {
    font-size: 1.5rem;
  }

  .title {
    justify-content: center;
  }
}