@import '../../../../shared/styles/globalLayout.scss';

.root {
  position: relative;
  width: 272px;
  min-height: 400;
  max-height: 400;
  box-shadow: 0 2px 5px red;
}

.link {
  text-decoration: none;

    &:active {
      color: #8181f7;
    }
}

.card {
  @include flex();
  min-height: 400px;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  text-align: center;
}