@import '../../../../shared/styles/globalVariables.scss';
@import '../../../../shared/styles/globalLayout.scss';

.wrapper {
  margin-top: 1.5rem;
  background-color: $backgroundNew;
}

.title {
  border-bottom: 1px solid black;
  color: $colorTitleCreate;
  margin: 0.5rem 1rem;
}

.form {
  min-width: 100%;
}

.buttonsBlock {
  @include flex();
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}


@media (max-width: 600px) {
  .title {
    font-size: 2rem;
    text-align: center;
  }

  .wrapper {
    padding: 0 5px;
  }

  .buttonsBlock {
    flex-direction: column;
    text-align: center;
  }
}