.root {
  background-color: #DEE0F2;
}

.select {
  flex: 1 1 100%;
}

.btnUnblock {
  border: 0;
  background: 0;
  margin-left: 10px;
  cursor: pointer;
}

.tooltipButton {
  font-size: 14px;
  font-weight: 500;
}

.link {
  text-decoration: none;
}