$fieldColor: #edeef9;
$backgroundNew: #ebf3f8;
$colorTitleCreate: #00000093;
$markdownField: #e9eaf9;
$colorMarkdownTab: #dee0f2;
$colorTitleCollection: #04a5d6;
$bgColorPaginationItems: #e2f7ec;
$colorPaginationItems: #A67D4B;
$backgroundTable: #ECF9F2;
$backgroundTableHead: #479E727d;
$boxShadowTable: #f8d9d9;
