.root {
  background-color: #479E727d;
}

.typography {
  flex: 1 1 100%;
}

.link {
  text-decoration: none;
}

.tooltip {
  width: 110px;
}

.tooltipButton {
  font-size: 14px;
  font-weight: 500;
}