.gridHeader {
  min-width: 100vw;
  background-color: #0062993d;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
              0px 4px 5px 0px rgb(0 0 0 / 14%),
              0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.headerContainer {
  padding: 0;
}

.gridAppRoutes {
  height: 100vh;
}